CompileFlags:
    CompilationDatabase: .zig-cache
    Add:
        [
            -Wno-gnu-statement-expression,
            -Wno-gnu-statement-expression-from-macro-expansion,
        ]

Diagnostics:
    Suppress: [static_non_static]
    MissingIncludes: Strict
    Includes:
        IgnoreHeader: [".*__chrono/.*", "<chrono>", ".*boost/.*"]

Style:
    QuotedHeaders: ["lib/.*", "fuzz/.*"]
    AngledHeaders: ["stdx/.*", "fmt/.*", "magic_enum/.*"]
