package pages

templ OverviewPage() {
	<h1>Ghoti Language Reference</h1>
	<p>A reference guide for the ghoti programming language, builtins, and standard library.</p>
	<h2>Syntax</h2>
	<ul>
		<li><a href="/doc/syntax/arrays">arrays</a></li>
		<li><a href="/doc/syntax/control_flow">control flow</a></li>
		<li><a href="/doc/syntax/declarations">declarations</a></li>
		<li><a href="/doc/syntax/enums">enums</a></li>
		<li><a href="/doc/syntax/functions">functions</a></li>
		<li><a href="/doc/syntax/imports">imports</a></li>
		<li><a href="/doc/syntax/interfaces">interfaces</a></li>
		<li><a href="/doc/syntax/loops">loops</a></li>
		<li><a href="/doc/syntax/match">match</a></li>
		<li><a href="/doc/syntax/structs">structs</a></li>
		<li><a href="/doc/syntax/types">types</a></li>
		<li><a href="/doc/syntax/unions">unions</a></li>
	</ul>
	<h2>Compiler Internals</h2>
	<ul>
		<li><a href="/doc/internals/builtins">builtins</a></li>
		<li><a href="/doc/internals/literals">literals</a></li>
	</ul>
	<h2>Standard Library</h2>
	<p>WIP</p>
}
